.container {
  width: 100vw;
  height: 100vh;
}
.header{
  width: calc(100% - 20px);
  height: 65px;
  border-bottom: 1px solid #e0e0e0;
  margin: 0 10px;
}

.backButton {
  height: 40px;
  width: 40px;
}

.pages {
  width: 100vw;
  height: 300px;
  padding: 0;
  overflow: hidden;
  white-space:nowrap;
  position: relative;
}