.stepShow {
  opacity: 1;
  transform: translateX(0%);
}

.stepLeft {
  opacity: 0;
  transform: translateX(-100%);
}

.stepRight {
  opacity: 0;
  transform: translateX(100%);
}

.page {
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: column;
  position: absolute;
  transition: 600ms;
}

.page h3 {
  margin-left: 10px;
  font-weight: 600;
  font-size: 1.9rem;
  padding-top: 15px;
}

.phoneInputBlock {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-top: 30px;
}

.countrySelectorButton {
  width: 50px;
  font-size: 25px;
  border-bottom: 1px solid #818181;
  justify-content: center;
  align-items: center;
  line-height: 38px;
  text-align: left;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}

.countrySelectorButton::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #bdbdbd;
  clear: both;
  top: 16px;
  right: 5px;
}

.coutryPhoneCode {
  font-size: 25px;
  border-bottom: 1px solid #818181;
  justify-content: center;
  align-items: center;
  line-height: 38px;
  text-align: left;
  cursor: pointer;
}

.phoneNumber {
  width: 200px;
  font-size: 25px;
  background: none;
  border: none;
  border-bottom: 1px solid #818181;
  padding-left: 10px;
}

.addPhoneText {
  width: 430px;
  margin: 20px auto;
  word-break: normal;
  white-space: normal;
  font-size: 0.75rem;
  text-align: left;
  color: #818181;
  line-height: 16px;
}


.countrySearchContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.searchBox {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 5px 0; 
}

.searchBoxButton {
  margin-left: 2px;
  width: 30px;
  height: 50px;
  color: #E3EBF2;
  stroke: #E3EBF2;
  stroke-width: 2px;
  cursor: pointer;
}

.searchField {
  position: relative;
  flex: 1;
  display: flex
}

.searchInputIcon {
  position: absolute;
  left: 8px;
  top: 2px;
}

.searchInput {
  height: 25px;
  width: 100%;
  border: none;
  background-color: #F5F7FA;
  border-radius: 8px;
  margin-right: 10px;
  padding-left: 40px;
  font-size: 15px;
}

.countryList {
  height: calc(100vh - 130px);
  overflow: scroll;
  flex-grow : 1;
  border-bottom: 1px solid #e0e0e0;
}

.choosableCountry {
  width: calc(100% - 40px);
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: #818181;
  cursor: pointer;
  margin: 0px auto;
  padding: 5px 5px;
  border-top: 1px solid #e0e0e0;
  transition: 0.15s;
}

.choosableCountry:hover {
  background: #F5F7FA;;
}


